.game-card {
  text-align: left;
  box-shadow: -5px -10px 13px 0 white, 5px 10px 13px 0 rgb(0 0 0 / 15%);
  padding: 1rem;
  margin: 1.5%;
  width: 25%;
  border-radius: 10px;

  @media (max-width: 768px) {
    width: unset;
    margin: 25px 0;
  }

  &:hover {
    cursor: pointer;
    box-shadow: inset -1px -1px 3px 0 rgba(255, 255, 255, 1),
      inset 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
  }

  .cover-image {
    max-width: 100%;
    height: auto;
  }

  .game-title {
    margin: 5px 0;
  }

  .game-data {
    margin: 5px 0;
  }
}
