.search-container {
  padding: 0 40px;

  @media (max-width: 768px) {
    padding: 0 10px;
  }

  .search-form {
    box-shadow: -5px -10px 13px 0 rgba(255, 255, 255, 1),
      5px 10px 13px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 2rem;
    margin: 0 100px 50px 100px;
    text-align: center;

    @media (max-width: 768px) {
      margin: 0 0 25px 0;
    }
  }

  .search-header {
    margin-bottom: 10px;
    margin-top: 0;
  }

  .submit-button {
    padding: 0.7rem 1rem;
    border: none;
    background-color: rgb(244, 246, 252);
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-weight: 600;
    transition-duration: 0.4s;
    box-shadow: -5px -10px 13px 0 rgba(255, 255, 255, 1),
      5px 10px 13px 0 rgba(0, 0, 0, 0.15);
    text-transform: uppercase;

    &:hover {
      box-shadow: inset -1px -1px 3px 0 rgba(255, 255, 255, 1),
        inset 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
    }
  }

  .search-results {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}
