.game-page-container {
  padding: 0 40px;

  @media (max-width: 768px) {
    padding: 0 10px;
  }

  .game-container {
    display: flex;
    align-items: center;
    box-shadow: -5px -10px 13px 0 white, 5px 10px 13px 0 rgb(0 0 0 / 15%);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 50px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .main-image {
    width: auto;
    height: 450px;
    border-radius: 5px;

    @media (max-width: 768px) {
      height: 250px;
    }
  }

  .game-details {
    margin-left: 50px;

    @media (max-width: 768px) {
      margin-left: 0;
    }

    > .game-data {
      font-weight: bold;
    }
  }

  .similar-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}
